@import url("https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Poppins:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Epunda Slab", sans-serif;
    font-size: 1.25rem;
    line-height: 1.6;
    background: url("img/img1.jpg") no-repeat center center/cover;
}

html {
    scroll-behavior: smooth;
}

a {
    display: block;
    text-decoration: none;
}

button {
    all: unset;
    display: block;
}

input {
    all: unset;
    display: block;
}

.container {
    width: 100%;
    max-width: 100rem;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.box {
    width: 100%;
    max-width: 20rem;
    height: 3rem;
    display: flex;
    align-items: center;
}

.btn {
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}

.header-container {
    width: 100%;
    height: 5rem;
    display: flex;
}

.header-content {
    flex: 1;
}

.header-contentLeft {
    display: flex;
    align-items: center;
}

.header-logo-link {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-logo-link-icon {
    display: flex;
    align-items: center;
}

.header-logo-link-icon .fa-solid {
    font-size: 3rem;
    color: #4896e4;
}

.header-logo-link-text {
    font-size: 1.8rem;
    color: #4896e4;
    line-height: 1.1;
}

.header-logo:hover {
    background-color: #19344f;
    border-radius: 0.5rem;
    transition: all 1s ease;
}

.header-logo:hover .header-logo-link-icon .fa-solid {
    color: #fff;
    transition: all 1s ease;
}

.header-logo:hover .header-logo-link-text {
    color: #fff;
    transition: all 1s ease;
}

.header-contentRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-boxLogin.box {
    max-width: 10rem;
}

.btnBoxLogin {
    background-color: #000;
    color: #fff;
    border: 0.2rem solid #19344f;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    font-weight: bolder;
}

.btnBoxLogin:hover {
    background-color: #4896e4;
    border: 0.2rem solid #19344f;
    transition: all 1s ease;
}

.header-menuBurger {
    width: 4rem;
    height: 3rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    cursor: pointer;
}

.header-menuBurger-content {
    width: 3rem;
    height: 0.3rem;
    background-color: #fff;
    border-radius: 2rem;
}

.header-menuBurger.active .header-menuBurger-contentTop {
    transform: translateY(0.9rem) rotate(45deg);
    transition: all 1s ease;
}

.header-menuBurger.active .header-menuBurger-contentMiddle {
    opacity: 0;
    transition: all 1s ease;
}

.header-menuBurger.active .header-menuBurger-contentBottom {
    transform: translateY(-0.9rem) rotate(-45deg);
    transition: all 1s ease;
}

.header-menuBurger:hover .header-menuBurger-content {
    background-color: #4896e4;
    transition: all 1s ease;
}

.main-container {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    position: relative;
    width: 100%;
    max-width: 25rem;
    min-height: 30rem;
    background-color: #ffffffdb;
    border-radius: 1rem;
    overflow: hidden;
    padding: 1rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.main-content.active {
    display: flex;
}

.main-title {
    font-size: 2.2rem;
    overflow: hidden;
}

.main-buttonClose {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background-color: #4896e4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.main-buttonClose-content {
    font-size: 2rem;
    font-weight: bolder;
    color: #19344f;
}

.main-form {
    width: 100%;
}

.main-form-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0;
}

.main-boxUser,
.main-boxPassword {
    border-bottom: 0.2rem solid #19344f;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: inherit;
}

.main-box-icon {
    display: flex;
    align-items: center;
    width: 1rem;
    height: 100%;
}

.main-box-icon .fa-solid,
.main-box-icon .fa-solid {
    color: #19344f;
    font-size: 1.8rem;
}

.main-box-input {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.main-box-input-field {
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    font-weight: bolder;
    text-align: left;
    color: #000;
}

.main-box-input-field::placeholder {
    color: #19344f;
}

.main-boxError.box {
    height: 1rem;
    display: none;
}

.main-boxError-message {
    font-size: 1rem;
    text-align: center;
    line-height: 1.1;
    color: red;
}

.btnFormLogin {
    background-color: #4896e4;
    color: #fff;
    border-radius: 1rem;
    font-size: 1.6rem;
    font-weight: bolder;
}

.main-link {
    font-size: 1.4rem;
}

.main-link-href {
    display: inline-block;
    color: #4896e4;
}

.footer-container {
    width: 100%;
    height: 5rem;
}

.footer-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-signature {
    font-size: 1.6rem;
    color: #4896e4;
}

@media (width < 1040px) {
    .header-container,
    .main-container,
    .footer-container {
        padding: 0 2rem;
    }
}

@media (width < 480px) {
    .header-logo-link {
        gap: 1rem;
    }

    .header-logo-link-icon .fa-solid {
        font-size: 2rem;
    }

    .header-logo-link-text {
        font-size: 1.4rem;
    }

    .header-boxLogin {
        display: none;
    }

    .header-menuBurger {
        display: flex;
    }

    .main-link {
        text-align: center;
        line-height: 1.1;
    }

    .footer-signature {
        text-align: center;
        line-height: 1.1;
    }
}
